@import 'https://unpkg.com/normalize.css@8.0.1/normalize.css';

:root {
  --primary: #4338ca;
  --secondary: #6366f1;
}

body {
  min-height: 100vh;
  background-color: #fafafa;
}

.sections {
  section {
    margin-bottom: 28px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary);
  }

  form {
    > div {
      display: flex;
      align-items: center;

      label {
        &::after {
          margin-right: 8px;
          content: ':';
        }
      }
    }
  }

  button {
    padding: 6px 12px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 6px;
    transition: background-color ease-out 0.3s;

    &:hover {
      background-color: #f6f6f6;
    }

    &.active {
      color: var(--primary);
      background-color: #f6f6f6;
      border-color: var(--primary);
      box-shadow: 0 2px 4px 0 var(--secondary);
    }

    &.small {
      padding: 4px 8px;
      font-size: 14px;
      border-radius: 4px;
    }

    &.large {
      padding: 12px 24px;
      font-size: 18px;
      border-radius: 12px;
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: #eaeaea;
      border-color: #ccc;
    }

    &.primary {
      color: #fff;
      background-color: var(--primary);
      border-color: var(--primary);

      &:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
      }
    }

    &.outlined {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}

.section {
  &__preview {
    &__container {
      min-height: 600px;
      padding: 12px 32px;
      margin: 0 -24px;
      border-radius: 8px;

      @media (width <= 480px) {
        padding: 8px 24px;
      }
    }
  }
}
